.menu {
  width: 55%;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}