.triangles {
  height: 145px;
  width: 100%;
  &:before {
    height: 100%;
    width: 70%;
    background-image: linear-gradient(to top left, red 0%, red 49%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
  }
  &:after {
    height: 100%;
    width: 30%;
    background-image: linear-gradient(to top right, blue 0%, blue 49%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
  }
}