include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          .parallax
          section.hero
            .container
              header.header
                .logo СМ
                .menu
                  ul.menu__list
                    li.menu__item 
                      a.menu__link Главная
                    li.menu__item
                      a.menu__link Обо мне
                    li.menu__item
                      a.menu__link Навыки
                    li.menu__item
                      a.menu__link Работы
                    li.menu__item
                      a.menu__link Отзывы
                    li.menu__item
                      a.menu__link Связаться
                .socials
                  ul.socials
                    - var socials = ['insta', 'vk', 'github'];
                    each item in socials
                      li.socials__item
                        a(href="#").socials__link
                          +icon(item, 'socials__icon')
              .hero__content
                .user-info
                  .user-info__title Личный сайт#[br]веб-разработчика
                  .user-info__name Сайфутдинов Марат
                .hero__scroll-btn
                  .scroll-btn
                    a(href="").scroll-btn__link Скролл
          .triangles

        